.lockscreen_Container_3rFFU {display:flex; flex-direction: column;}
.lockscreen_Container_3rFFU img {display:none;}
.lockscreen_Directions_vNjDQ {display:none;}
.footericons_SizeMedium_3-w0R {height:18px;}
.lockscreen_NumericButtonInput_2wl_h {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}